<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Hey, <%= @user %></p>
<p>
  A new review has been submitted by one of your users
</p>
  Check out the the review now  <%= @url %>
</p>

</body>
</html>