<h1>Enter Game Name</h1>
<h2>URL will be generated and you can then access the link that will have you a discount</h2>
<%= form_tag "/validate" do %>
  <%= text_field_tag :search_string %>
  <%= submit_tag "Search" %>
<% end %>

