<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Welcome to Global Video Game Reviews</h1>
    <p>Global video game reviews allows you to write a review about games and if you can't find the game you want to review you can always add it to the datbase and be the first to review it.</p>
    <p><%= link_to "Start Writing Reviews", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @games.each do |game| %>
    <div class="col-sm-6 col-md-3">
      <div class="img-thumbnail">
        <%= link_to (image_tag game.image.url(:medium), class: 'image'), game %>
      </div>
    </div>
  <% end %>
</div>
  </div>