/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//Background Colour
body {
  background: #27282e;
  color: black;
}

//Changing the size of the container
.container {
  width: auto;
  height: auto;
  margin-left: 150px;
  margin-right: 150px;
}

//NavBar Colour
.navbar-default {
  background: rgba(0, 0, 0, .6);
  border-color: rgba(0, 0, 0, .6);
}

.col-md-3 {
  padding-bottom: 50px;
}

.review_title {
  margin: 0 0 20px 0;
}

.reviews {
  padding: 15px 0;
  border-bottom: 2px dotted #EAEAEA;

  .star-rating {
    padding-bottom: 8px;
  }
}

//Changing the colour of the background and removeing border
.img-thumbnail {
  background-color: #9100ff;
  border: 0px dotted black;

}


//Changing the colour of the nav bar branding
.navbar-default .navbar-brand {
  color: white;
}

//Changing the colour of remaning tezt on the navbar
.navbar-default .navbar-nav > li > a {
  color: white;
}

//When navbar is in focus we change the text colour to red
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #da1106;
  background-color: transparent;
}

//Things that the user has visted will be coloured black
a:visited {
  color: #000;
}

//When user hovers over a <tag> we set the background to transparent
a:hover {
  color: #000;
  background-color: transparent;
}

//Normal <a> tags
a {
  color: #000000;
  text-decoration: none;
}

.container .jumbotron, .container-fluid .jumbotron {
  color: black;
}

input, button, select, textarea {
  color: black;
}

//Giving padding to star rating stars
.star-rating {
  padding-top: 10px;
}


//Centering image on game pages
.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 274px;

}

.reviewLink{
  margin-left: 320px;
}