<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="navbar-fixed-bottom">
  <p>Application Created By Vladislavs Vasiljevs <br> 15493322</p>
  <p>
    <%="Application Version #{AppVersion.instance().GetData()}"%>
  </p>
</footer>